
<!-- Header Top Area -->
<div class="st-header-top-area">
	<div class="container container-large">
		<div class="row">
			<div class="col-lg-9">
				<div class="st-header-top-info">
					<ul>
						<!-- <li><a href="#"><i class="bi bi-geo-alt-fill"></i> Location : Usa, Canada, Uk, Europe, Gcc</a></li> -->
						<li><a href="mailto:gulfcargouae@gmail.com"> <i class="bi bi-envelope"></i> Our Email : gulfcargouae@gmail.com</a></li>
						<!-- <li><a href="#"> <i class="bi bi-clock"></i> Office Time : Mon - Sat 9:00 - 6:00 </a></li> -->
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="st-header-top-social">
					<span>Follow On:</span>
					<ul>
						<li><a target="_blank" href="https://www.facebook.com/gulfcargouae/"> <i class="bi bi-facebook"></i> </a></li>
						<li><a target="_blank" href="https://www.tiktok.com/@gulfcargouae?_t=8oyItxHIwcC&_r=1"> <i class="bi bi-tiktok"></i> </a></li>
						<li><a target="_blank" href="https://wa.me/+971508735100"> <i class="bi bi-whatsapp"></i> </a></li>
						<li><a target="_blank" href="https://www.instagram.com/gulfcargouae/"> <i class="bi bi-instagram"></i> </a></li>
						<li><a target="_blank" href="https://x.com/Gulfcargouae?t=sDASEjG3N0jAGVhsZZibuQ&s=09"> <i class="bi bi-twitter-x"></i> </a></li>
						<li><a target="_blank" href="https://www.linkedin.com/in/gulfcargouae?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> <i class="bi bi-linkedin"></i> </a></li>
						<li><a target="_blank" href="https://www.youtube.com/@Gulfcargouae"> <i class="bi bi-youtube"></i> </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Offcanvas area start -->
<div class="st__offcanvas__area">
	<div class="offcanvas__wrapper">
		<div class="offcanvas__content">
			<div class="offcanvas__top d-flex justify-content-between align-items-center">
				<div class="offcanvas__logo">
					<a href="#">
						<img src="assets/images/new/logo2.png" alt="logo not found" style="height: 110px;width: 100px;">
					</a>
				</div>
				<div class="offcanvas__close">
					<button class="offcanvas-close-icon animation--flip">
							<span class="offcanvas-m-lines">
							<span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
							</span>
					</button>
				</div>
			</div>
			<div class="mobile-menu fix"></div>
			<div class="offcanvas__social">
				<h4 class="offcanvas__title mb-20">Subscribe & Follow</h4>
				<ul class="header-top-socail-menu d-flex">
					<li><a target="_blank"  href="https://www.facebook.com/gulfcargouae/"><i class="bi bi-facebook"></i></a></li>
					<li><a target="_blank"  href="https://www.tiktok.com/@gulfcargouae?_t=8oyItxHIwcC&_r=1"><i class="bi bi-tiktok"></i></a></li>
					<li><a target="_blank"  href="https://wa.me/+971508735100"><i class="bi bi-whatsapp"></i></a></li>
					<li><a target="_blank"  href="https://www.instagram.com/gulfcargouae/"><i class="bi bi-instagram"></i></a></li>
					<li><a target="_blank" href="https://x.com/Gulfcargouae?t=sDASEjG3N0jAGVhsZZibuQ&s=09"> <i class="bi bi-twitter-x"></i> </a></li>
					<li><a target="_blank" href="https://www.linkedin.com/in/gulfcargouae?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> <i class="bi bi-linkedin"></i> </a></li>
					<li><a target="_blank" href="https://www.youtube.com/@Gulfcargouae"> <i class="bi bi-youtube"></i> </a></li>
				</ul>
				<div class="mt-5" style="display: flex;">
					<div class="st-contact-icon">
							<a href="tel:+971508735100"> <i class="bi bi-telephone"></i> </a>
						</div>
					<a href="tel:+971508735100" class="mx-3">	
						<div class="st-contact-content" style="color: #000;">
							<span></span>
							+971 50 873 5100 <br>
							+971 50 469 7200
						</div></a>
				</div>
						
			</div>
		</div>
	</div>
</div>
<div class="offcanvas__overlay"></div>
<!-- Header Area -->
<header>
    <div class="st-header-menu-area">
		<div class="header-sticky">
			<div class="st__logo__overlay"></div>
			<div class="container container-large">
				<div class="row align-items-center">
					<div class="col-lg-2 col-md-2 col-sm-2">
						<div class="st-header-logo mx-5" >
							<a href="/"><img src="assets/images/new/logo2.png" alt="logo not found" style="height:135px; width: 130px;" >
								
							</a>
							
						</div>
						<!-- <div style="font-size: 8px; width: 170px !important;margin-left: 2em;text-align: center;position: relative;z-index: 1;">" ğ‘¾ğ’‰ğ’†ğ’“ğ’† ğ‘¬ğ’—ğ’†ğ’“ğ’š ğ‘ºğ’‰ğ’Šğ’‘ğ’ğ’†ğ’ğ’• ğ‘»ğ’†ğ’ğ’ğ’”Â ğ’‚Â ğ‘ºğ’•ğ’ğ’“ğ’šÂ "</div> -->
					</div>
					<div class="col-lg-10 col-md-6 col-sm-10">
						<div class="st__menu__wrap">
							<div class="st__main__menu">
								<nav class="main__menu" id="mobile-menu">
									<ul>
										<li><a href="/"> Home </a></li>
										<li><a href="/about"> About </a></li>
										<li><a href="/service"> Services </a></li>
										<li><a href="/blog"> Blog </a></li>
										<li><a href="/contact"> Contacts </a></li>
									</ul>
								</nav>
							</div>
							<div class="st__header__right">
								<div class="st-contact-meta">
									<div class="st__contact__meta__inner mb-5">
										<div class="st-contact-icon">
											<a href="tel:+971508735100"> <i class="bi bi-telephone"></i> </a>
										</div>
									<a href="tel:+971508735100" >	
										<div class="st-contact-content" style="font-size: 20px;">
											<span></span>
											+971 50 873 5100 <br>
											+971 50 469 7200
										</div></a>
									</div>
								</div>
								<div class="st__header__hamburger">
									<div class="sidebar__toggle">
										<a class="bar-icon" href="javascript:void(0)">
											<span></span>
											<span></span>
											<span></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</header>