<!-- ST Breadcumb Area -->
<div class="st-breadcumb-area pt-150" style="background: url(assets/images/breadcumb/breadcumb.jpg) no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcumb__top__content text-center wow fadeInUpBig">
					<h2> About Us </h2>
				</div>
				<div class="breadcumb__links">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#"> / </a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ST About Area -->
<div class="st-about-area style2 pt-100 pb-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="st__about__thumb wow fadeInUp">
					<img src="assets/images/about/about3.png" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="st__about__wrap">
					<div class="st__section__title wow fadeInUp">
						<!-- <h5> About </h5> -->
						<h5>OTEX GULF CARGO LLC</h5>
							<p>Otex Gulf Cargo is one of the Cargo and logistics companies in GCC, having an experience 
								of 13 Years of customer satisfaction in point-to-point domestic and international freights. By expanding
								the horizons, We equipped with an ambitious plan to extend its value 
								chain by offering integrated Logistics & Supply Chain services.
								Our Experience as an Cargo company helps us with the
								expertise to efficiently coordinate the deliveries of your Shipment , from taking your order, to 
								point of delivery. Whether you want timely delivery or scheduled delivery, we are here to 
								serve you 7 days a week. So take a load off, and let us deal with the wind-and-grind of 
								traffic while you relax at your business place. In terms of business model, Gulf Cargo is more 
								aligned with our client’s needs, due to which our core businesses have shown substantial 
								growth to meet the evolving needs of the customers. This has resulted in consolidation of 
								services and in the development of infrastructure, thus driving us to the forefront in our
								business segment.
								Gulf Cargo has grown to be one of the largest companies in GCC specializing in freight forwarding.
								The purpose of our existence is to provide our customers with quality and reliable service to
								enhance the productivity of your business. We also offer customized logistics solution to 
								corporate houses, small businesses and several industries in GCC. At Gulf Cargo our primary
								concern is customer satisfaction. We provide every client with specialized services and treat
								every customer’s requirement as our number one priority.
								</p>
					</div>
					<div class="st__about__content wow fadeInUp">
						<div class="st__about__list__box mt-35">
							<div class="row">
								<div class="col-md-6">
									<ul class="about__list">
										<li> Door to Door Service All over the World</li>
										<li> Airport to Airport</li>
										<li>Express Cargo Door to Door</li>
										<li>All types of Packing</li>
										<li>Domestic & International Relocation</li>
									</ul>
								</div>								
								<div class="col-md-6">
									<ul class="about__list">
										<li> Sea Cargo as per port requirement</li>
										<li>Surface…. Door to Door Services</li>
										<li>Fcl / Lcl / Jumbo service</li>
										<li>Customs Clearance</li>
										<li>Storage & Warehousing</li>
										
									</ul>
								</div>
							</div>
						</div>
						<div class="st__about__right">
							<div class="st__about__video__box">
								<a class="video-vemo-icon st__about__video venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=N7L5wlPxZ1o">
									<i class="bi bi-play"></i>
								</a>
								<span>Watch The Video</span>
							</div>
							<div class="st__about__btn">
								<a class="st__btn2" href="#"> More Details <i class="bi bi-arrow-right"></i> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ST Service Area -->
<div class="st-service-area pt-100 pb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="st__section__title mb-50 text-center wow fadeInUp">
					<h5> Types of Loglstice </h5>
					<span class="circle"></span>
					<h1>Popular Logistics Services</h1>
				</div>
			</div>
            <% if(ServiceData){%>
                <% for (let i = 0; i < ServiceData.length; i++) { %>
                    <% let item = ServiceData[i]; %>
			<div class="col-lg-4 col-md-6">
				<div class="st__service__box wow fadeInUp p-relative">
					<div class="st__service__thumb">
						<img src="<%=item.image%>" alt="">
						<div class="st__service__icon">
							<img src="assets/images/service/icon1.png" alt="">
						</div>
					</div>
					<div class="st__service__content">
						<span>  </span>
						<h2> <a href="/service"> <%=item.name%> </a> </h2>
						<div class="st__service__btn">
							<a href="/service"> <i class="bi bi-arrow-right"></i> </a>
						</div>
					</div>
				</div>
			</div>			
            <% } %>
            <% } %>
		</div>
	</div>
</div>

<!-- ST Appointment Area -->
<div class="st-appointment-area style2 pt-100 p-relative" style="background: url(assets/images/appointment/bg.jpg);background-repeat: no-repeat;background-position: center center;background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="st__section__title mb-50 wow fadeInUp">
					<h5 class="text-white"> Booking Appointment </h5>
					<h1 class="text-white">24/7 customer support any time <br> of the day or night</h1>
					<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					<a class="st__btn2" href="#"> More Details <i class="bi bi-arrow-right"></i> </a>
					<a class="st__btn" href="#"> More Details <i class="bi bi-arrow-right"></i> </a>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
	<div class="st__appointment__shape1 wow fadeInUp">
		<img src="assets/images/appointment/shape2.png" alt="">
	</div>
	<div class="st__appointment__video wow fadeInUp">
		<a class="video-vemo-icon st__video venobox vbox-item" data-vbtype="youtube" data-autoplay="true">
			<i class="bi bi-play"></i>
		</a>
	</div>
</div>
<!-- ST Team Area -->